.menus-container {
    font-size: 15px;
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: start;
    grid-auto-flow: column;
}

.menu {
    font-family: Brutal_Light, "Open Sans", arial;
    padding: 8px 12px;
    border-radius: 7px;
    color: #aaaaae;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.menu:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.menu.more-menu {
    display: none;
}

.menu .menu-arrow {
    display: none;
    transform: rotate(-90deg);
}

.menu-toggler-icons-container {
    display: none;
}

.cross-for-close-menu {
    display: none;
}

@media (max-width: 1440px) {

    .menu:nth-child(3),
    .menu:nth-child(6),
    .menu:nth-child(7),
    .menu:nth-child(8) {
        display: none;
    }

    .menu:nth-child(5) {
        display: block;
    }
}

@media (max-width: 1270px) {
    .three-line-menu.active {
        display: block;
    }

    .cross-for-close-menu.active {
        display: block;
    }

    .menu {
        display: grid;
    }

    .logos-container {
        grid-area: logo;
    }

    .tools {
        display: grid;
        grid-area: tools;
        justify-content: space-between !important;
    }

    .tools .line-seperator {
        display: none;
    }

    .menus-container {
        grid-auto-flow: row;
        grid-area: meanus;
        justify-content: center;
        row-gap: 1rem;
    }

    .menus-container .menu {
        width: 85vw;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.05);
        color: #fff;
    }

    .menus-container .menu:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    .menu .menu-arrow {
        width: 20px;
        height: 20px;
    }

    .menu-toggler-icons-container {
        display: grid;
        grid-area: menutogglericons;
        justify-content: end;
    }

    .menu:nth-child(5) {
        display: none;
    }

    .menu.more-menu {
        display: none;
    }

    .menu .menu-arrow {
        display: block;
    }

}