.menu .sub-menu-container-wrapper {
    position: absolute;
    top: 3.2rem;
    left: 120px;
    background: transparent;
}

.menu.more-menu .sub-menu-container-wrapper {
    left: 50%;
}

.menu .sub-menu-container {
    display: none;
    grid-template-columns: auto auto 2px auto;
    gap: 40px;
    position: relative;
    top: 35px;
    left: 0px;
    background: #202024;
    padding: 38px;
    border-radius: 20px;
    width: 63.5rem;
    justify-content: start;
}

.menu.more-menu .sub-menu-container {
    display: none;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: none;
    width: 17.2rem;
    padding: 0;
    gap: 0;
    justify-content: stretch;
}

.menu:hover .sub-menu-container,
.menu.active .sub-menu-container {
    display: grid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.menu .sub-menu-container .sub-heading {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0px;
}

.links {
    color: #26bbff;
    font-size: 1rem;
}

.menu .link {
    text-decoration: none;
    padding: 8px 10px;
    background: transparent;
}

.menu .link:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.menu .link .link-details {
    color: #aaaaae;
    line-height: 17px;
    font-size: 12px;
}



/*------------------More Menu------------------*/



.menu.more-menu .sub-menu:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu.more-menu .sub-menu:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu.more-menu .sub-menu {
    padding: 1.6rem;
}

.sub-menu-text-and-arrow-icon-container {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: #aaaaae;
}

.menu.more-menu .sub-menu:hover {
    background: #000;
}

.menu.more-menu .sub-menu-container-wrapper:hover .sub-menu {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.menu.more-menu .sub-menu:hover .sub-menu-text-and-arrow-icon-container {
    color: #fff;
}

.sub-menu-text-and-arrow-icon-container .sub-menu-arrow.icon {
    width: 22px;
    height: 22px;
}

.sub-menu .sub-menu-arrow {
    transform: rotate(-90deg);
}

.menu.more-menu .sub-menu .sub-menu-container-wrapper {
    display: none;
    position: absolute;
    top: -2.2rem;
    left: 90%;
    padding-left: 10%;
}

.menu.more-menu .sub-menu .sub-menu-container-wrapper .link {
    position: relative;
    left: -10px;
}

.menu.more-menu .sub-menu .sub-menu-container-wrapper .line-seperator {
    width: 100%;
    height: 2px;
}

.menu.more-menu .sub-menu:hover .sub-menu-container-wrapper {
    display: grid;
}

.menu.more-menu .sub-menu .sub-menu-container {
    display: grid;
    grid-template-rows: auto auto 2px auto;
    gap: 20px;
    padding: 2rem;
    border-top-left-radius: 0px;
    box-shadow: none;
}

@media (max-width: 1270px) {
    .menu .sub-menu-container-wrapper {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        justify-content: center;
        background-color: #202024
    }

    .menu .sub-menu-container {
        width: 82%;
        z-index: 5;
        grid-auto-flow: row;
        grid-template-columns: none;
        position: relative;
        top: 8.5rem;
    }

    .menu .sub-menu-container .line-seperator {
        display: none;
    }

    .menu .sub-menu-container .second-container,
    .menu .sub-menu-container .third-container {
        position: relative;
        left: -10px;
    }
}